/* line 5, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/angular.scss */
.nurse-icon {
  height: 50px;
  width: auto;
}
/* line 5, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.email-item {
  transition: all 0.3s;
}

/* line 9, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.test {
  display: none;
}

/* line 13, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.selected-item {
  background-color: red;
}
/* line 14, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.selected-item .test {
  display: block;
}

/* line 21, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.animation {
  width: 480px;
  height: 270px;
  background-image: url("/logo.png");
  background-position: 0 0;
  transform: scale(0.28);
  transition: all 0.5s;
}

/* line 30, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.loading {
  position: relative;
  transform: scale(0.8) translateY(300px);
  -webkit-animation: animation_keyframes 2s steps(127) infinite;
  -moz-animation: animation_keyframes 2s steps(127) infinite;
  -ms-animation: animation_keyframes 2s steps(127) infinite;
  -o-animation: animation_keyframes 2s steps(127) infinite;
  animation: animation_keyframes 2s steps(127) infinite;
}

@-webkit-keyframes animation_keyframes {
  from {
    background-position: 0 -34290px;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes animation_keyframes {
  from {
    background-position: 0 -34290px;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes animation_keyframes {
  from {
    background-position: 0 -34290px;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes animation_keyframes {
  from {
    background-position: 0 -34290px;
  }
  to {
    background-position: 0 0;
  }
}
/* line 58, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.email-list {
  transition: opacity 0.5s;
  opacity: 1;
}

/* line 63, /Users/kitlangton/Viking/Unit19/MailNurse/app/assets/stylesheets/emails.scss */
.email-list.faded {
  opacity: 0.5;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

