<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">
  <h2>
    Mail Nurse
  </h2>
  <span flex></span>

  <div class="animation" ng-class="{'loading': loading}"></div>
  <span flex></span>
  <md-button class="md-raised" aria-label="Signout" href="/signout">
    <h2>Signout</h2>
  </md-button>
  <md-button class="md-icon-button" aria-label="More">
    <md-icon ui-sref="mail.compose">add</md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="More">
    <md-icon ng-click="refresh()">refresh</md-icon>
  </md-button>
</div>
</md-toolbar>

<div ui-view></div>


